<%= nested_form_for @observation do |f| %>
	<div class="row form-group">
		<div class="col-md-4">
		  <%= f.label "Select a location" %>
		  <%= f.collection_select :location_id, Location.order(:name), :id, :name, {}, { class: "form-control" } %> or <%= link_to "add your own location", new_location_path %>
		</div>
  	<div class="col-md-3">
		  <%= f.label "Date and time" %>
		  <%= f.datetime_local_field :date, class: "form-control" %>
		</div>
	</div>
	
	<div class="row form-group">
	  <%= f.fields_for :sightings do |sighting_form| %>
	    <%= sighting_form.label :species_name %>
			<%= sighting_form.text_field :species_name, data: { autocomplete_source: species_index_path } %>
	
	  	<%= sighting_form.label :count %>
	  	<%= sighting_form.number_field :count, min: 1 %>
	  
	  	<%= sighting_form.link_to_remove "Remove this sighting" %>
	  <% end %>
	  <p><%= f.link_to_add "Add a sighting", :sightings %></p>
	</div>
  
	<div class="row form-group">
	  <%= f.submit "Submit observation", class: "btn btn-primary" %>
	</div>
<% end %>