<%= form_for @location do |f| %>
	<%= f.hidden_field :name %>
	<%= f.hidden_field :latitude %>
	<%= f.hidden_field :longitude %>
	
	<%= f.submit %>
<% end %>

<style>
	html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
	.container { height: 100% }
  #map-canvas { height: 100% }
</style>

<%= javascript_include_tag "newLocation.js" %>

<div id="map-canvas"></div>