<!DOCTYPE html>
<html>
<head>
  <title>Birdr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container" data-no-turbolink>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Birdr</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><%= link_to "New observation", new_observation_path %></li>
		        <li><a href="#">Link</a></li>
		      </ul>
					<ul class="nav navbar-nav navbar-right">
						<% if signed_in? %>
							<li><%= link_to current_user.email, current_user %></li>
							<li><%= link_to "Sign out", session_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Sign in", new_session_path %></li>
							<li><%= link_to "Sign up", new_user_path %></li>
						<% end %>
					</ul>
		    </div>
		  </div>
		</nav>

		<%= yield %>
	</div>
</body>
</html>
